* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  background: url('./assets/images/background.png');
  transform: translate(-50%, -50%);
}

#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
